<html>
    <body>

        <h3>Add Person</h3>

        <form action="/persons/getpersondata" method="POST">

            First Name : <input type="text" name="FirstName" ><br/>
            Last Name : <input type="text" name="LastName" ><br/>
            Age  : <input type="text" name="Age" ><br/>
            City : <input type="text" name="City" ><br/>

            <input type="submit"  value="Add">

        </form>

        </table>
    </body>
</html>