<html>
    <body>
        
        <form action="login/getUserData" method="POST">
            User Name : <input type="text" name="username"> <br/>
            Password : <input type="text" name="pwd"> <br/>
            <input type="submit" value="Login">
        </form>

        <% if(msg != '') { %>
            <div><%= msg %></div>
        <% } %>
    </body>
</html>