<style>
    @import url(https://dl.dropboxusercontent.com/u/15746367/fonts/carmela/style.css);
    @import url(https://fonts.googleapis.com/earlyaccess/alefhebrew.css);
    @import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);
    body {
      background-image: url('/images/grinVibe.jpeg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 125%;
      text-align: center;
      display: flex;
        justify-content: center;
        font-family: "Carmela", sans-serif;

    }
    input {
        box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
        white-space:nowrap;
        width:fit-content;
        padding:2%;
        margin: auto ;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 5%;
        box-sizing: border-box;
        padding: 10%;
    }
    .tr1{
        padding-right: 30%;
    }
    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 9%;
        cursor: pointer;
    }

    input[type=submit]:hover {
    background-color: #45a049;
    }
    div {
        border: black solid;
        padding: 1%;
        padding-bottom: 1px ;
        width:fit-content;
        height: fit-content;
        background-color: rgb(18, 126, 108);
    }
    table {
        white-space:nowrap;
        width:fit-content;
        padding:auto;
        table-layout: auto;

    }
    td {
        white-space:nowrap; 
        width:fit-content;
        text-align: right;
        padding:auto;
        }
       
        
  

</style>
<html>
    <body>
        <form name="myform" action="persons/getUserdata" onsubmit="return validateForm()" method="POST" required>
        <div>

            <table >
                <tr>
                    <td>
                        <input name="ConcreteStrength" type="number" max="100" min="0"/>
                    </td>
                    <td>
                       <h1> הכנס חוזק בטון </h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input name="PressTime" type="time" max="24" min="0" value="07:30:00"/>
                    </td>
                    <td>
                        <h1> הכנס שעה  </h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input name="PressDate" id = "date1" type="date" onfocus="datefunc()"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        <h1> הכנס תאריך </h1>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input name="BedNumber" type="number" max="9" min="1"/>
                    </td>
                    <td>
                        <h1>הכנס מספר מיטה </h1>
                    </td>
                </tr>
            </table>
            <input type="submit" name="action" value="שלח"> 
        </div>
        
        </form>


            
    </body>
    <script>
    var currentDate = new Date();
    var date = currentDate.getDate();
    var month = currentDate.getMonth(); //Be careful! January is 0 not 1
    var year = currentDate.getFullYear();
    var today = year + "-" +(month + 1) + "-" + date;
    document.getElementById('date1').value = today;

      function datefunc(){
        x= document.getElementById("date1");
        
        var currentDate = new Date();
        var date = currentDate.getDate();
        var month = currentDate.getMonth(); //Be careful! January is 0 not 1
        var year = currentDate.getFullYear();
        var today = year + "-" +(month + 1) + "-" + date;
        
        // var d=new Date();
        // today = d.toISOString().split("T")[0];
        
        x.setAttribute("max", today);
        var dateOffset = (24*60*60*1000) * 7; //7 days
        var myDate = new Date();
        myDate.setTime(myDate.getTime() - dateOffset);
        x.setAttribute("min", myDate.toISOString().split("T")[0]);
    }
    function validateForm() {
        var x = document.forms["myform"]["ConcreteStrength"].value;
        var x1 = document.forms["myform"]["PressTime"].value;
        var x2 = document.forms["myform"]["PressDate"].value;
        var x3 = document.forms["myform"]["BedNumber"].value;


        if (x == "" || x1 == "" || x2 =="" || x3 =="") {
        alert("כל השדות חייבים להיות מלאים לפני שליחה");
        return false;
    }
}  
    </script>
    
</html>