<html>
    <script>
        function doSomething()
    {
        
    }
    </script>
    <body>

        <h3>Person Data</h3>

        <form action="/persons/person/updateordeleteperson/<%= person._id %>" method="POST">

            First Name : <input type="text" name="FirstName" value="<%= person.FirstName %>"><br/>
            Last Name : <input type="text" name="LastName" value="<%= person.LastName %>"><br/>
            Age  : <input type="text" name="Age" value="<%= person.Age %>"><br/>
            City : <input type="text" name="City" value="<%= person.City %>"><br/>

            <input type="submit" name="action" value="Update">
            <input type="submit" name="action" value="Delete">

        </form>

        </table>
    </body>
</html>