<html>
    <body>
        
        <h1>Users page</h1>

        <ul>
            <% users.forEach(function (user) { %>

                <li><a href="/users/<%= user.id %>"><%= user.name %></a></li>

                <% }) %>
        </ul>
       
    </body>
</html>