<html>
    <body>
        
        <h1>Users page</h1>

        Name : <%= user.name %><br/>
        User Name : <%= user.username %><br/>
        Email : <%= user.email %><br/>
       
        <a href="/users">Back to list</a>
    </body>
</html>